
<div class="container">
  <h1>Companies List</h1>
  <table class="table">
    <thead>
      <tr>
        <th> Title</th>
        <th> Address</th>
        <th> Telephone</th>
        <th><a routerLink = "/company-create"  target="_blank">ADD</a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td>{{ company.title }}</td>
        <td>{{ company.address }}</td>
        <td>{{ company.contact_no }}</td>
        <td><a routerLink="/company-edit/{{company._id}}" class="btn btnsuccess">
		EDIT</a></td>
      </tr>
    </tbody>
  </table>
</div>
