
<div class="container" id="pdfTable" #pdfTable>
	<h1>{{ vacancy.position }}</h1>
	<dl class="list">
		<dt>Position</dt>
		<dd>{{ vacancy.position }}</dd>
		<dt>Due Date</dt>
		<dd>{{ vacancy.due_date }}</dd>
		<dt>Catogery</dt>
		<dd>{{ vacancy.catogery }}</dd>
		<dt>Company</dt>
		<dd>{{ vacancy.company }}</dd>
		<dt>Skills</dt>
		<dd>{{ vacancy.skills }}</dd>
		<dt>Experince (in Years)</dt>
		<dd>{{ vacancy.experince }}</dd>
		<dt>Posted Date</dt>
		<dd>{{ vacancy.posted_date }}</dd>
		
	</dl>
</div>
<a (click)="downloadAsPDF()" class="btn btnsuccess">PDF</a>