
<div class="container">
  <h1>Curriculum Vitae List</h1>
  <table class="table">
    <thead>
      <tr>
        <th> NIC</th>
        <th> Full Name</th>
        <th> Date of birth </th>
        <th> Degree </th>
        <th><a routerLink = "/curriculum-vitae-create"  target="_blank">Insert New Curriculum Vitae</a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curriculumvitae of curriculumvitaes">
        <td>{{ curriculumvitae.nic }}</td>
        <td>{{ curriculumvitae.name }}</td>
        <td>{{ curriculumvitae.birthdate }}</td>
        <td>{{ curriculumvitae.degree }}</td>
        <td><a routerLink="/curriculum-vitae-edit/{{curriculumvitae._id}}" class="btn btnsuccess">
		EDIT</a></td>
      </tr>
    </tbody>
  </table>
</div>
