<div class="container">
	<h1>Edit Company</h1>
	<div class="row">
		<div class="col-md-12">
			<form  #companyForm="ngForm" (ngSubmit)="updateVacancy(companyForm.value)" >
				
				<div class="form-group">
					<label for="name">Position</label> <input type="text" #name="ngModel"
						class="form-control" name="title" [(ngModel)]="vacancy.position">
				</div>
				<div class="form-group">
					<label for="name">Due Date</label> <input type="text" #name="ngModel"
						class="form-control" name="address" [(ngModel)]="vacancy.due_date">
				</div>
				<div class="form-group">
					<label for="name">Skills</label>
					<select class='form-control' #name="ngModel" id='skills' name='skills' [(ngModel)]="vacancy.skills" multiple>
						<option value='Angular Js'>Angular Js</option>
            			<option value="Java" selected="">Java</option>
            			<option value="JBoss" selected=""> JBoss</option>
	                </select>
				</div>
				<div class="form-group">
					<label for="name">Experince (in Years)</label> <input type="text" #name="ngModel"
						class="form-control" name="experince" [(ngModel)]="vacancy.experince">
				</div>
				<div class="form-group">
					<label for="name">Catogery</label>
					<select class='form-control' #name="ngModel" id='catogery' name='catogery' [(ngModel)]="vacancy.catogery">
						<option value='IT'>Information Technology</option>
	            		<option value="HR" selected="">Human Resource</option>
	            		<option value="Agri" selected=""> Agriculture</option>
	                </select>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success" >Save</button>
				</div>
			</form>
		</div>
	</div>
</div>